# CSV Data Cleaning and Analytics

## Introduction

This notebook was created by [Jupyter AI](https://github.com/jupyterlab/jupyter-ai) with the following prompt:

> /generate a notebook to read a csv, do some basic data cleaning and descriptive analytics

The Jupyter notebook will focus on reading a CSV file, performing basic data cleaning, and conducting descriptive analytics. The notebook will start by importing necessary libraries, including pandas, for data manipulation and analysis. The CSV file will then be loaded into a DataFrame using the pandas library. The data will be explored by displaying the first few rows to understand its structure and contents. Data cleaning steps will include handling missing values, removing duplicate rows, and performing necessary data transformations. Descriptive analytics will be conducted to generate summary statistics, visualizations, and insights to better understand the dataset. Overall, the notebook will provide a comprehensive guide on how to work with CSV files, clean data, and perform descriptive analytics.

## Load the CSV file

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\mvall\.conda\envs\jupyter-ai\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mvall\.conda\envs\jupyter-ai\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mvall\.conda\envs\jupyter-ai\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\mvall\.conda\envs\jupyter-ai\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 660.6 kB/s eta 0:00:18
    --------------------------------------- 0.2/11.6 MB 3.0 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.6 MB 12.8 MB/s eta 0:00:01
   ---------- ----------------------------- 3.0/11.6 MB 19.0 MB/s eta 0:00:01
   ----------------- ---------------------- 5.1/11.6 MB 23.3 MB/s eta 0:00:01
   ------------------ --------------------- 5.2/11.6 MB 22.4 MB/s eta 0:00:01
   ---------------------- ----------------- 6.5/11.6 MB 20.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 24.7 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 32.8 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 29.8 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.2 tzdata-2024.1

In [1]:
import pandas as pd

In [2]:
import csv
import requests

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
response = requests.get(url)

with open('iris.csv', 'wb') as f:
   f.write(response.content)
   
with open('iris.csv') as csvfile:
  reader = csv.reader(csvfile)
  for row in reader:
    print(row)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
['5.1', '3.5', '1.4', '0.2', 'setosa']
['4.9', '3.0', '1.4', '0.2', 'setosa']
['4.7', '3.2', '1.3', '0.2', 'setosa']
['4.6', '3.1', '1.5', '0.2', 'setosa']
['5.0', '3.6', '1.4', '0.2', 'setosa']
['5.4', '3.9', '1.7', '0.4', 'setosa']
['4.6', '3.4', '1.4', '0.3', 'setosa']
['5.0', '3.4', '1.5', '0.2', 'setosa']
['4.4', '2.9', '1.4', '0.2', 'setosa']
['4.9', '3.1', '1.5', '0.1', 'setosa']
['5.4', '3.7', '1.5', '0.2', 'setosa']
['4.8', '3.4', '1.6', '0.2', 'setosa']
['4.8', '3.0', '1.4', '0.1', 'setosa']
['4.3', '3.0', '1.1', '0.1', 'setosa']
['5.8', '4.0', '1.2', '0.2', 'setosa']
['5.7', '4.4', '1.5', '0.4', 'setosa']
['5.4', '3.9', '1.3', '0.4', 'setosa']
['5.1', '3.5', '1.4', '0.3', 'setosa']
['5.7', '3.8', '1.7', '0.3', 'setosa']
['5.1', '3.8', '1.5', '0.3', 'setosa']
['5.4', '3.4', '1.7', '0.2', 'setosa']
['5.1', '3.7', '1.5', '0.4', 'setosa']
['4.6', '3.6', '1.0', '0.2', 'setosa']
['5.1', '3.3', '1.7', '0.5', 'setosa']
['4.8', '3.4', '1.9', '0.2', 'setosa']
['5.0', '3.0', '1.6', '0.2', 'setosa']
['5.0', '3.4', '1.6', '0.4', 'setosa']
['5.2', '3.5', '1.5', '0.2', 'setosa']
['5.2', '3.4', '1.4', '0.2', 'setosa']
['4.7', '3.2', '1.6', '0.2', 'setosa']
['4.8', '3.1', '1.6', '0.2', 'setosa']
['5.4', '3.4', '1.5', '0.4', 'setosa']
['5.2', '4.1', '1.5', '0.1', 'setosa']
['5.5', '4.2', '1.4', '0.2', 'setosa']
['4.9', '3.1', '1.5', '0.2', 'setosa']
['5.0', '3.2', '1.2', '0.2', 'setosa']
['5.5', '3.5', '1.3', '0.2', 'setosa']
['4.9', '3.6', '1.4', '0.1', 'setosa']
['4.4', '3.0', '1.3', '0.2', 'setosa']
['5.1', '3.4', '1.5', '0.2', 'setosa']
['5.0', '3.5', '1.3', '0.3', 'setosa']
['4.5', '2.3', '1.3', '0.3', 'setosa']
['4.4', '3.2', '1.3', '0.2', 'setosa']
['5.0', '3.5', '1.6', '0.6', 'setosa']
['5.1', '3.8', '1.9', '0.4', 'setosa']
['4.8', '3.0', '1.4', '0.3', 'setosa']
['5.1', '3.8', '1.6', '0.2', 'setosa']
['4.6', '3.2', '1.4', '0.2', 'setosa']
['5.3', '3.7', '1.5', '0.2', 'setosa']
['5.0', '3.3', '1.4', '0.2', 'setosa']
['7.0', '3.2', '4.7', '1.4', 'versicolor']
['6.4', '3.2', '4.5', '1.5', 'versicolor']
['6.9', '3.1', '4.9', '1.5', 'versicolor']
['5.5', '2.3', '4.0', '1.3', 'versicolor']
['6.5', '2.8', '4.6', '1.5', 'versicolor']
['5.7', '2.8', '4.5', '1.3', 'versicolor']
['6.3', '3.3', '4.7', '1.6', 'versicolor']
['4.9', '2.4', '3.3', '1.0', 'versicolor']
['6.6', '2.9', '4.6', '1.3', 'versicolor']
['5.2', '2.7', '3.9', '1.4', 'versicolor']
['5.0', '2.0', '3.5', '1.0', 'versicolor']
['5.9', '3.0', '4.2', '1.5', 'versicolor']
['6.0', '2.2', '4.0', '1.0', 'versicolor']
['6.1', '2.9', '4.7', '1.4', 'versicolor']
['5.6', '2.9', '3.6', '1.3', 'versicolor']
['6.7', '3.1', '4.4', '1.4', 'versicolor']
['5.6', '3.0', '4.5', '1.5', 'versicolor']
['5.8', '2.7', '4.1', '1.0', 'versicolor']
['6.2', '2.2', '4.5', '1.5', 'versicolor']
['5.6', '2.5', '3.9', '1.1', 'versicolor']
['5.9', '3.2', '4.8', '1.8', 'versicolor']
['6.1', '2.8', '4.0', '1.3', 'versicolor']
['6.3', '2.5', '4.9', '1.5', 'versicolor']
['6.1', '2.8', '4.7', '1.2', 'versicolor']
['6.4', '2.9', '4.3', '1.3', 'versicolor']
['6.6', '3.0', '4.4', '1.4', 'versicolor']
['6.8', '2.8', '4.8', '1.4', 'versicolor']
['6.7', '3.0', '5.0', '1.7', 'versicolor']
['6.0', '2.9', '4.5', '1.5', 'versicolor']
['5.7', '2.6', '3.5', '1.0', 'versicolor']
['5.5', '2.4', '3.8', '1.1', 'versicolor']
['5.5', '2.4', '3.7', '1.0', 'versicolor']
['5.8', '2.7', '3.9', '1.2', 'versicolor']
['6.0', '2.7', '5.1', '1.6', 'versicolor']
['5.4', '3.0', '4.5', '1.5', 'versicolor']
['6.0', '3.4', '4.5', '1.6', 'versicolor']
['6.7', '3.1', '4.7', '1.5', 'versicolor']
['6.3', '2.3', '4.4', '1.3', 'versicolor']
['5.6', '3.0', '4.1', '1.3', 'versicolor']
['5.5', '2.5', '4.0', '1.3', 'versicolor']
['5.5', '2.6', '4.4', '1.2', 'versicolor']
['6.1', '3.0', '4.6', '1.4', 'versicolor']
['5.8', '2.6', '4.0', '1.2', 'versicolor']
['5.0', '2.3', '3.3', '1.0', 'versicolor']
['5.6', '2.7', '4.2', '1.3', 'versicolor']
['5.7', '3.0', '4.2', '1.2', 'versicolor']
['5.7', '2.9', '4.2', '1.3', 'versicolor']
['6.2', '2.9', '4.3', '1.3', 'versicolor']
['5.1', '2.5', '3.0', '1.1', 'versicolor']
['5.7', '2.8', '4.1', '1.3', 'versicolor']
['6.3', '3.3', '6.0', '2.5', 'virginica']
['5.8', '2.7', '5.1', '1.9', 'virginica']
['7.1', '3.0', '5.9', '2.1', 'virginica']
['6.3', '2.9', '5.6', '1.8', 'virginica']
['6.5', '3.0', '5.8', '2.2', 'virginica']
['7.6', '3.0', '6.6', '2.1', 'virginica']
['4.9', '2.5', '4.5', '1.7', 'virginica']
['7.3', '2.9', '6.3', '1.8', 'virginica']
['6.7', '2.5', '5.8', '1.8', 'virginica']
['7.2', '3.6', '6.1', '2.5', 'virginica']
['6.5', '3.2', '5.1', '2.0', 'virginica']
['6.4', '2.7', '5.3', '1.9', 'virginica']
['6.8', '3.0', '5.5', '2.1', 'virginica']
['5.7', '2.5', '5.0', '2.0', 'virginica']
['5.8', '2.8', '5.1', '2.4', 'virginica']
['6.4', '3.2', '5.3', '2.3', 'virginica']
['6.5', '3.0', '5.5', '1.8', 'virginica']
['7.7', '3.8', '6.7', '2.2', 'virginica']
['7.7', '2.6', '6.9', '2.3', 'virginica']
['6.0', '2.2', '5.0', '1.5', 'virginica']
['6.9', '3.2', '5.7', '2.3', 'virginica']
['5.6', '2.8', '4.9', '2.0', 'virginica']
['7.7', '2.8', '6.7', '2.0', 'virginica']
['6.3', '2.7', '4.9', '1.8', 'virginica']
['6.7', '3.3', '5.7', '2.1', 'virginica']
['7.2', '3.2', '6.0', '1.8', 'virginica']
['6.2', '2.8', '4.8', '1.8', 'virginica']
['6.1', '3.0', '4.9', '1.8', 'virginica']
['6.4', '2.8', '5.6', '2.1', 'virginica']
['7.2', '3.0', '5.8', '1.6', 'virginica']
['7.4', '2.8', '6.1', '1.9', 'virginica']
['7.9', '3.8', '6.4', '2.0', 'virginica']
['6.4', '2.8', '5.6', '2.2', 'virginica']
['6.3', '2.8', '5.1', '1.5', 'virginica']
['6.1', '2.6', '5.6', '1.4', 'virginica']
['7.7', '3.0', '6.1', '2.3', 'virginica']
['6.3', '3.4', '5.6', '2.4', 'virginica']
['6.4', '3.1', '5.5', '1.8', 'virginica']
['6.0', '3.0', '4.8', '1.8', 'virginica']
['6.9', '3.1', '5.4', '2.1', 'virginica']
['6.7', '3.1', '5.6', '2.4', 'virginica']
['6.9', '3.1', '5.1', '2.3', 'virginica']
['5.8', '2.7', '5.1', '1.9', 'virginica']
['6.8', '3.2', '5.9', '2.3', 'virginica']
['6.7', '3.3', '5.7', '2.5', 'virginica']
['6.7', '3.0', '5.2', '2.3', 'virginica']
['6.3', '2.5', '5.0', '1.9', 'virginica']
['6.5', '3.0', '5.2', '2.0', 'virginica']
['6.2', '3.4', '5.4', '2.3', 'virginica']
['5.9', '3.0', '5.1', '1.8', 'virginica']

In [3]:
# Load the CSV file into a DataFrame
df = pd.read_csv('iris.csv')

In [4]:
# Display the first few rows of the DataFrame to verify the data has been loaded successfully
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Explore the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Data cleaning

In [5]:
import pandas as pd

In [7]:
# Read the CSV file into a DataFrame
df = pd.read_csv('iris.csv')

In [9]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [10]:
# Check for missing values in the entire DataFrame
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
# Drop rows with missing values
df = df.dropna()

In [12]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print("Duplicate rows:", duplicate_rows)

Duplicate rows: 1

In [13]:
# Drop duplicate rows
df = df.drop_duplicates()

In [14]:
df.groupby('species')['petal_length'].agg(['mean', 'median'])

                mean  median
species
setosa      1.462000    1.50
versicolor  4.260000    4.35
virginica   5.561224    5.60

In [12]:
# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(df.head(10))

Cleaned DataFrame:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

## Descriptive analytics

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
df = pd.read_csv('cleaned_data.csv')

In [ ]:
summary_stats = df.describe()
print(summary_stats)

In [ ]:
correlation_matrix = df.corr()
print(correlation_matrix)

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Matrix')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(df['numerical_column'], kde=True)
plt.title('Distribution of Numerical Column')
plt.xlabel('Numerical Column')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(x='numerical_column_1', y='numerical_column_2', data=df)
plt.title('Relationship between Numerical Column 1 and Numerical Column 2')
plt.xlabel('Numerical Column 1')
plt.ylabel('Numerical Column 2')
plt.show()